@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}
img {
    max-width: 100%;
}
.wrap{
    margin: 25px;
}
/* header */
.header .container{
    height: 100vh;
    width: 100%;
    background-image: url(../img/main.jpg);
}
.header .row{
    position: relative;
    height: 100vh;
}
.header .row h1{
    position: absolute;
    left: 22%;
    top: 40%;
    font-family: 'Oleo Script', cursive;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.header .row span{
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8c8c8c;
}
.nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-right: 50px;
    position:absolute;
    left: 12%;
    top: 60%;

}
.nav ul li{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #c7c7c7;
}
.mb-nav{
    display: none;
}

/* HANDPOKE */
.handpoke h2{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    margin: 100px 0;
    color: #8c8c8c;
}
.handpoke .row{
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.sec01,.sec02{
    display:flex;
    justify-content: center;
    width: 100%;
}
.doann{
    width: 300px;
    margin: 50px;
    position: relative;
}
.doann button{
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    width: 110px;
    height: 30px;
    background-color: inherit;
    border: none;
    font-size: 12px;
    font-weight: 700;
}
.doann button:hover{
    color: #8c8c8c;
}
.do-img {
    width: 300px;
    height: 300px;
    margin: 0px auto;
}
.do-s {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0;
}
.doann:hover .do-s {
    opacity: 1;
    transition: 0.3s;
}

/* notice */
.notice .row h2{
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    color: #8c8c8c;
}
.notice .row h3{
    font-size: 18px;
    font-weight: 500;
}
.notice .row{
    margin: 150px;
}
.notice-top{
    text-align: center;
}
.notice-top hr{
    margin: 20px;
}
.notice .row span{
    display: inline;
}
.bt:hover span{
    color: rgb(236, 195, 104);
}
.bt{
    margin: 60px;
}
.bt p{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    color: #8c8c8c;
}
.btn-kakao{
    background-color: #fff;
    border: none;
    font-weight: 900;

    cursor: pointer;
    color: #8c8c8c;
}
.btn-kakao:hover{
    color: #333;
}

/* footer */
.footer{
    background-image: url(../img/main.jpg);
}
.footer h3{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
}
.footer p{
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}
.footer .sns{
    font-size: 28px;
    text-align: center;
}

/* top */
#top-btn{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 5%;
    right: 5%;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #c7c7c7;
    color: #c7c7c7;
}


/* 반응형 */
@media (max-width:1200px){
    .header .container{
        background-image: url(../img/main-dt.jpg);
        background-repeat: no-repeat;
        height: 100vh;
    }
    .sec01,.sec02{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 50%;
    }
    .bt{
        margin:60px 10px;
    }
}

@media (max-width:747px) {
    .header .container{
        background-image: url(../img/main-tb.jpg);
    }
    .nav ul{
        display: none;
    }
    .mb-nav{
        display: block;
        text-align: right;
        font-size: 25px;
        padding: 5px 15px 0 0;
        color: #c7c7c7;
        cursor: pointer;
    }
    .fa-bars{
        position: fixed;
        right: 7%;
        top: 4%;
    }
    #btn-mb{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        background-color: rgba(0,0,0,0.8);
        color: #c7c7c7;
        font-size: 38px;
        z-index: 100000;
    }
    #btn-mb ul{
        padding: 100px;
    }
    #btn-mb li{
        line-height: 2em;
        text-align: center;
    }
    #btn-close{
        display: none;
        position: absolute;
        right: 5%;
        top: -2%;
        font-size: 50px;
        color: #c7c7c7;
        cursor: pointer;
    }
    .handpoke{
        z-index: 100;
    }
    .handpoke h2{
        margin: 0;
    }
    .doann{
        margin: 10px;
    }
    .sec01,.sec02{
        width: 100%;
    }
    .notice .row{
        margin: 0px;
    }
}

@media (max-width:360px) {
    .wrap{
        margin: 0;
    }
    .header .container{
        background-image: url(../img/main-mb.jpg);
    }
    .notice .row{
        margin:5px;
    }
}